<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="/static/webuploader.css" rel="stylesheet">


</head>
<body>

<form id="form"  enctype="multipart/form-data" method="post">
    小文件（夹）
    <input id="upload"  type="file" name="files[]" webkitdirectory multiple />
    <input name="age" value="20">
    <input type="button" value="upload" id="submit">
</form>

<div id="file-list"></div>



</body>
<script
        src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">

</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/stream.js"></script>
<script>

    var socket = io.connect('/xiaoxiaosu')


    Object.prototype.forEach = function (fn) {


        var str = ''
        for(var key in this){
            if(key=='forEach'){
                continue
            }else {
                str+=fn(key,this[key])
            }

        }
        return str
    }

    function render(list) {
        var html = `
        <div>
            ${list.forEach(function (k,v) {
                return `<p>${v}---${k}</p>`
            })}
        </div>

`

        $("#file-list").html(html)
    }


    var map = {}

    $("#submit").click(function (e) {
        var files = document.getElementById('upload').files


        for(var i=0;i<files.length;i++){
            var stream = ss.createStream();

            ss(socket).emit('upload',stream,{
                size:files[i].size,
                webkitRelativePath:files[i].webkitRelativePath,
                path:files[i].webkitRelativePath,
                type:files[i].type,
                lastModified:files[i].lastModified
            })


            map[files[i].webkitRelativePath] = '0%'


            ss.createBlobReadStream(files[i]).pipe(stream);
        }
        render(map)

        socket.on('progress',function (data) {
            console.log(data)
            map[data.path] = (data.current / data.total * 100).toFixed(2) + '%'
            render(map)

        })
    })




</script>

</html>